$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$bg-gray: #f2f2f2;
$light-shadow: #c2c2c2;
$dark-shadow: #a2a2a2;

@mixin heart-style {
    .fas {
        opacity: 0;
        background: linear-gradient(45deg, $secondaire, $primaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.2s ease-in;
        &:hover {
            opacity: 1;
        }
    }
    .far {
        opacity: 1;
        transition: opacity 0.2s ease-in;
        &:hover {
            opacity: 0;
        }
    }
}

@keyframes course-loading {
    0% {
        opacity: 0;
        transform: translateY(25px)
    }
    50% {
        opacity: 0.99;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes home-loading-background {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 0.99;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}

@keyframes home-loading-spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(720deg);
    }
}

* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    /*max-width: 768px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

header, div, section, footer, form {
    display: flex;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.fas, .far {
    display: inline-block;
}

.logo, .menu__title {
    font-family: Shrikhand;
}

.loading-spinner {
    background: $tertiaire;
    color: white;
    font-size: 300%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1651541;
    position: fixed;
    animation: home-loading-background 2.5s;
    animation-fill-mode: both;
    .fa-spinner {
        animation: home-loading-spinner 2.5s;
    }
}

header {
    height: 52px;
    position: relative;
    .logo {
        font-size: 150%;
        text-align: center;
        margin: auto;
    }
    .home {
        display: block;
        justify-content: center;
        position: absolute;
        left: 15px;
        top: 12px;
        font-size: 150%;
    }
}

.btn {
    height: 50px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(135deg, $secondaire, $primaire);
    opacity: 1;
    padding: 15px 30px;
    font-size: 90%;
    font-weight: 500;
    margin: 30px 0px;
    box-shadow: 0 5px 5px $light-shadow;
    transition-property: box-shadow, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    &:hover {
        box-shadow: 0 5px 6px darken($dark-shadow, 20%);
        opacity: 0.8;
    }
}

.fa-heart {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 150%;
    cursor: pointer;
}

#top {
    background-color: $bg-gray;
    .search {
        width: 100%;
        background-color: $light-shadow;
        justify-content: center;
        box-shadow: inset 0 2px 2px $dark-shadow;
        padding-top: 3px;
        .fas {
            display: block;
            padding: 10px;
        }
        &__form {
            width: 132px;
            margin: auto;
        }
        form {
            width: 100px;
        }
        ::placeholder {
            color: black;
        }
        input {
            background-color: $light-shadow;
            border: none;
            font-family: Roboto;
            font-weight: 500;
            color: black;
        }
    }
    .pres {
        margin: auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        &__main {
            margin: 10px auto 10px auto;
            font-size: 170%;
            font-weight: 700;
        }
        &__sub {
            font-size: 120%;
            font-weight: 300;
        }
        &__btn {
            justify-content: center;
            margin: 15px auto;
            width: 250px;
        }
    }
}

.howto {
    flex-direction: column;
    padding: 20px;
    &__title {
        margin: 20px 0px;
        font-size: 150%;
        font-weight: 700;
    }
    .step {
        background-color: $bg-gray;
        padding: 20px;
        border-radius: 20px;
        margin: 10px;
        box-shadow: 5px 5px 5px $light-shadow;
        font-size: 90%;
        &__number {
            margin: 0px 0px 0px -23px;
            background-color: $primaire;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            text-align: center;
            justify-content: center;
            padding: 1px 0px 0px 0px;
            font-weight: 500;
        }
        &__icon {
            margin: 0px 0px 0px 20px;
            color: #808080;
            font-size: 100%;
        }
        &__action {
            margin: 0px 0px 0px 20px;
            font-weight: 500;
        }
        &--colored {
            background-color: lighten($primaire, 35%);
            .step__icon {
                color: $primaire;
            }
        }
    }
}

.places {
    background-color: $bg-gray;
    flex-direction: column;
    padding: 20px;
    &__title {
        margin: 20px 0px;
        font-size: 150%;
        font-weight: 700;
    }
    &__card {
        position: relative;
        z-index: 1;
        .fa-heart {
            right: 25px;
            bottom: 35px;
        }
        @include heart-style;
    }
    .restaurant {
        display: block;
        border-radius: 20px;
        background-color: white;
        box-shadow: 5px 5px 5px $light-shadow;
        overflow: hidden;
        margin: 10px 0px;
        flex-direction: column;
        width: 100%;
        &__img {
            justify-content: center;
            align-items: center;
            object-fit: cover;
            border-radius: 18px 18px 0px 0px;
            height: 150px;
            width: 100%;
        }
        &__info {
            flex-direction: column;
            padding: 15px;
            &__name {
                font-weight: 700;
                margin-bottom: 5px;
            }
            &__loc {
                font-weight: 300;
            }
        }
    }
    .new {
        font-size: 80%;
        font-weight: 500;
        background-color: $tertiaire;
        color: darken($tertiaire, 40%);
        padding: 5px 10px;
        border-radius: 3px;
        position: absolute;
        right: 10px;
        top: 20px;
    }
}

.menu__img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.menu {
    border-radius: 40px 40px 0px 0px;
    background-color: $bg-gray;
    padding: 30px 15px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    &__title {
        font-size: 150%;
        width: 100%;
        position: relative;
        .fa-heart {
            font-size: 100%;
            right: 20px;
            top: 10%;
        }
        @include heart-style;
    }
    &__section {
        margin: 20px 0px;
        flex-direction: column;
        animation: course-loading 2.5s;
        animation-fill-mode: both;
        opacity: 0;
        &:nth-of-type(3) {
            animation-delay: 1s;
        }
        &:nth-of-type(4) {
            animation-delay: 2s;
        }
        &__title {
            font-weight: 300;
            &__underline {
                width: 50px;
                border: $tertiaire solid 2px;
                background-color: $tertiaire;
                margin: 5px 0px;
            }
        }
    }
    &__btn {
        margin: 30px auto;
        padding: 15px 45px;
    }
    .course {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px $light-shadow;
        padding: 10px;
        margin: 5px 0px;
        position: relative;
        height: 60px;
        &__title {
            width: calc(100% - 40px);
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: width 0.25s ease-out;
        }
        &__sub {
            font-size: 90%;
            font-weight: 300;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            margin-top: 5px;
            width: calc(100% - 40px);
            text-overflow: ellipsis;
            transition: width 0.25s ease-out;
        }
        &:hover > .course__title, &:hover > .course__sub {
            width: calc(100% - 100px)
        }
        &__price {
            position: absolute;
            right: 5%;
            margin-right: 0px;
            bottom: 10%;
            font-size: 90%;
            transition: margin-right 0.25s ease-out;
        }
        &:hover > .course__price {
            margin-right: 60px;
        }
        &__selected {
            position: absolute;
            height: 60px;
            width: 0px;
            font-size: 130%;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            background-color: $tertiaire;
            color: white;
            bottom: 0px;
            right: 0px;
            border-radius: 0px 15px 15px 0px;
            transition: width 0.25s ease-out;
            .fa-circle-check {
                transition: transform 0.25s ease-out;
            }
        }
        &:hover > .course__selected {
            width: 60px;
            & > .fa-circle-check {
                transform: rotate(360deg);
            }
        }
    }
}

.footer {
    background-color: #505050;
    color: white;
    padding: 0px 30px 30px 30px;
    flex-direction: column;
    .logo {
        margin: 20px 0px 10px 0px;
    }
    &__elem {
        margin: 2px 0px;
        .fas {
            display: inline-block;
            width: 25px;
        }
    }
}

/*@media screen and (min-width: 768px) {
    body {
        box-shadow: 0 0 5px $light-shadow;
    }
}*/