* {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  margin: 0px;
}

header, div, section, footer, form {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.fas, .far {
  display: inline-block;
}

.logo, .menu__title {
  font-family: Shrikhand;
}

header {
  padding: 10px;
  box-shadow: 0px 5px 5px #a2a2a2;
  justify-content: center;
  height: 52px;
}
header .logo {
  font-size: 150%;
  text-align: center;
}
header .home {
  display: block;
  justify-content: center;
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 150%;
}

.btn {
  height: 50px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  padding: 15px 30px;
  font-size: 90%;
  font-weight: 500;
  margin: 30px 0px;
}

.fa-heart {
  display: block;
  position: absolute;
  right: 10%;
  bottom: 15%;
  z-index: 2;
  font-size: 150%;
  cursor: pointer;
}

#top {
  background-color: #f2f2f2;
}
#top .search {
  width: 100%;
  background-color: #c2c2c2;
  justify-content: center;
}
#top .search .fas {
  display: block;
  padding: 10px;
}
#top .search form {
  width: 30%;
}
#top .search input {
  background-color: #c2c2c2;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  color: black;
}
#top .pres {
  justify-content: center;
  text-align: center;
  padding: 20px;
}
#top .pres__main {
  margin: 10px;
  font-size: 170%;
  font-weight: 700;
}
#top .pres__sub {
  font-size: 120%;
  font-weight: 300;
}

.howto {
  flex-direction: column;
  padding: 20px;
}
.howto__title {
  margin: 20px 0px;
  font-size: 150%;
  font-weight: 700;
}
.howto .step {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 5px 5px 5px #c2c2c2;
  font-size: 90%;
}
.howto .step__number {
  margin: 0px 0px 0px -23px;
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 1px 0px 0px 0px;
  font-weight: 500;
}
.howto .step__icon {
  margin: 0px 0px 0px 20px;
  color: #808080;
  font-size: 100%;
}
.howto .step__action {
  margin: 0px 0px 0px 20px;
  font-weight: 500;
}
.howto .step--colored {
  background-color: #f2eafb;
}
.howto .step--colored .step__icon {
  color: #9356DC;
}

.places {
  background-color: #f2f2f2;
  flex-direction: column;
  padding: 20px;
}
.places__title {
  margin: 20px 0px;
  font-size: 150%;
  font-weight: 700;
}
.places__card {
  position: relative;
  z-index: 1;
}
.places__card .fas {
  opacity: 0;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.places__card .far {
  opacity: 1;
}
.places .restaurant {
  display: block;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #c2c2c2;
  overflow: hidden;
  margin: 10px 0px;
  flex-direction: column;
  width: 100%;
}
.places .restaurant__img {
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 18px 18px 0px 0px;
  height: 150px;
  width: 100%;
}
.places .restaurant__info {
  flex-direction: column;
  padding: 15px;
}
.places .restaurant__info__name {
  font-weight: 700;
  margin-bottom: 5px;
}
.places .restaurant__info__loc {
  font-weight: 300;
}
.places .new {
  font-size: 80%;
  font-weight: 500;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 20px;
}

.footer {
  background-color: #505050;
  color: white;
  padding: 0px 30px 30px 30px;
  flex-direction: column;
}
.footer .logo {
  margin: 20px 0px 10px 0px;
}
.footer__elem {
  margin: 2px 0px;
}
.footer__elem .fas {
  display: inline-block;
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
